.content1{
  min-height:300px;
  display: flex;
}
.photo{
  margin:7px;
  border-radius: 20px;
  border-width: 5px;
  border-color: var(--color1);
  border-style: solid;
  justify-content: center;
  background-color: var(--color4);
  width:30%;
  margin-bottom: 50px;
  height: 66%;
  color: var(--color1);
}
.photo div{
  line-height:200px;
  margin-left: 20%;
}
.description {
  margin:7px;
  max-width: 63%;
  margin-top:50px;
  padding: 10px;
  border-radius: 20px;
  border-width: 5px;
  border-color: var(--color3);
  border-style: solid;
  background-color: var(--color4);
}
.description p{
  color: var(--color3)
}
.videopresentation_h{
  margin-top:50px;
  display: flex;
  justify-content: center;
}
.videopresentation_h span{
  color: var(--color1);
  font-size: 15pt;
}
.video{
  margin-top: 20px;
  width:80%;
  margin-left: 10%;
}
.video div{
  padding-top: 0;
  height:0;
  overflow: hidden;
  padding-bottom:56.25%;
  position:relative;
}
.video div iframe{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--color1);
  border-width: 3px;
}
.PresNavigation{
  padding:10px;
  display: flex;
}
.NavDots{
  position:relative;
  width:30px;
  padding:15px;
  margin-right: 10px;
}
.NavDots div{
  border-radius: 50%;
  background-color: var(--color1);
  height: 10px;
  width:10px;
  margin:5px;
}
.content2{
  display: flex;
  flex-direction: column;
}
.Screen{
  display: flex;
  color:var(--color1);
  margin-top: 20px;
  border-radius: 20px;
  background-color: var(--color4);
  padding:10px;
  border-style: solid;;
  border-color: var(--color3);
  border-width: 0px;
  transition: ease 0.5s;
}
.Showing{
  background-color: var(--color5);
  border-width: 2px;
}
.ScreenDes{
  background-color: var(--color5);
  border-radius: 20px;
  padding:10px;
  margin-right: 10px;
  max-width: 60%;
}
.ScreenRight{
  display: flex;
  flex-direction: column;
}
.TimeCode{
  padding:7px;
}
.TimeCode div{
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--color3);
  color: var(--color3);
  text-align: center;
}
.Screenshot img{
  max-width: 100%;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--color3);
}
