<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/master.css">
  <link rel="stylesheet" type="text/css" href="css/prices.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="shortcut icon" href="favicon.ico">
  <title>Расценки - Dorich prod.</title>
</head>

<body class="colors">

  <!-- Начало покрывающих элементов -->
  <div class="CoverElements">
    <header class="colors head">
      <div class="logo">
        <div id="logo">
          <img src="img/LogoD.svg" id="logoimg" />
          <div class="triangle" id="triangle1"></div>
          <div class="triangle" id="triangle2"></div>
          <div class="glitch" id="glitch1"></div>
          <div class="glitch" id="glitch2"></div>
          <div class="glitch" id="glitch3"></div>
          <div id="square"></div>
        </div>
        <div>
          <span>
            <font>orich</font>
            <font>prod.</font>
          </span>
        </div>
      </div>
    </header>

    <div id="NavPanel">
      <ul>
        <li v-for="i in Sections"><a :href=i.link>
            <nav>{{i.name}}</nav>
          </a></li>
      </ul>

      <div>
        <div v-for="i in Social">
          <img :src=i.imglink />
          <span><a :href=i.link>{{i.nick}}</a></span>
        </div>
      </div>
    </div>

    <div id="MenuButton">
      <div class="Body"></div>
      <div class="Body"></div>
      <div class="Line"></div>
      <div class="Line"></div>
      <div class="Line"></div>
    </div>
    <div id="block"></div>
    <script src="js/NavPanel.js"></script>
    <script src="js/LogoAnim.js"></script>
    <script src="js/vue/commonVue.js"></script>
  </div>
  <!-- Конец покрывающих элементов -->

  <div class="content">

    <div id="IntroInf">
      <div>
        <div>
          <img src="img/Prices/img1/MainLayer.svg" />
          <img src="img/Prices/img1/Layer2.svg" />
          <img src="img/Prices/img1/Layer3.svg" />
          <img src="img/Prices/img1/Layer4.svg" />
        </div>
      </div>
      <div>
        <span>Расценки</span>
        <p>Et harum quidem rerum facilis est et expedita distinctio, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
    <div id="TextDiv">
      <p>Excepteur sint occaecat cupidatat non proident, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aper</p>
    </div>
    <div id="prices">
      <div class="PriceCard" id="free">
        <img id="freeimg" src="img/Prices/Free.svg" />
        <span>Бесплатно</span>
        <p>Et harum quidem rerum facilis est et expedita distinctio, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <button>Подать заявку.</button>
      </div>
      <div class="PriceCard" id="MotionDesign">
        <img id="MotionDesignimg" src="img/Prices/MotionDesign.svg" />
        <span>Motion Design</span>
        <p>Et harum quidem rerum facilis est et expedita distinctio, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <button>Подать заявку.</button>
      </div>
    </div>
    <script src="js/PriceCards.js"></script>
  </div>
  <div class="hor"></div>
  <footer>
    <p>Developed by Dorich production with Dorich production's support for Dorich production.</p>
    <p>©All rights reserved.</p>
  </footer>

</body>


</html>