<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/master.css">
    <link rel="stylesheet" type="text/css" href="css/projects.css">
    <link rel="shortcut icon" href="favicon.ico" >
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Все проекты - Dorich prod.</title>
  </head>

<body class="colors">

<!-- Начало покрывающих элементов -->
<div class="CoverElements">
<header class="colors head">
        <div class="logo">
            <div id="logo">
              <img src="img/LogoD.svg" id="logoimg"/>
              <div class="triangle" id="triangle1"></div>
              <div class="triangle" id="triangle2"></div>
              <div class="glitch" id="glitch1"></div>
              <div class="glitch" id="glitch2"></div>
              <div class="glitch" id="glitch3"></div>
              <div id="square"></div>
            </div>
            <div>
              <span>
              <font>orich</font>
              <font>prod.</font>
              </span>
            </div>
        </div>
</header>

  <div id="NavPanel" >
    <ul >
      <li v-for="i in Sections"><a :href=i.link><nav>{{i.name}}</nav></a></li>
    </ul>

    <div>
        <div v-for="i in Social">
            <img :src=i.imglink />
            <span><a :href=i.link>{{i.nick}}</a></span>
        </div>
    </div>
  </div>

  <div id="MenuButton">
    <div class="Body"></div>
    <div class="Body"></div>
    <div class="Line"></div>
    <div class="Line"></div>
    <div class="Line"></div>
  </div>
  <div id="block"></div>
  <script src="js/NavPanel.js"></script>
  <script src="js/LogoAnim.js"></script>
  <script src="js/vue/commonVue.js"></script>
</div>
<!-- Конец покрывающих элементов -->
<div class="content" id="ProjectsContent">
<div  class="ProTitle">
  <span v-on:click="ProjectsShow = true">Мои проекты</span>
  <transition name="slide-fade">
        <span v-if="!ProjectsShow"> - Тизер для "События"</span>
  </transition>
</div>
<!-- Начало списка проектов -->
<transition name="slide-fade">
  <div v-if="ProjectsShow">
    <div v-for="i in Prevues" class="prevue">
        <div class="main">
            <img class="MainImg" :src=i.MainImg />
            <span class="hashtags">{{i.HashTags}}</span>
            <span class="ProjectName">{{i.name}}</span>
            <nav class="ProLink" v-on:click="ProjectsShow = false">Подробнее...</nav>
        </div>
        <div class="screens">
          <img v-for="img in i.screens" :src=img />
        </div>
    </div>
  </div>
</transition>
<!-- Конец списка проектов -->
<!-- Начало шаблона для видео -->
<transition name="slide-fade">
    <div v-if="!ProjectsShow" class="VideoPattern">
      <div class="video">
        <div>
          <iframe src='https://player.vimeo.com/video/388640735' allow="fullscreen" allowfullscreen></iframe>
        </div>
      </div>
    </div>
</transition>
<!-- Конец шаблона для видео -->
</div>
<script src="js/vue/projectsVue.js"></script>

<div class="hor"></div>
<footer>
  <p>Developed by Dorich production with Dorich production's support for Dorich production.</p>
  <p>©All rights reserved.</p>
</footer>

</body>


</html>
