h1{
    font-weight: 500;
}
h2{
    font-weight: 500;
}
h1, h2, h3, h4, h5, .news-card__title, .project-block__title{
    color: var(--v-accent-base);
}
p{
    /*max-width: 700px;*/
}

.time-note__description,
.block__column--text > p,
.skills-note > p,
.intro__info > p,
.news-card,
.block2__info__text > p,
.project-block__title{
    font-family: "Roboto", sans-serif;
}
