.v-application{
    .v-bottom-navigation a, a.news-card, header a, a.v-chip, a.v-btn, .project-block a, .resume-card a, address a, .related-links a{
        color: inherit;
        text-decoration: none;

        &:visited{
            color: inherit;
        }
    }

}

.v-application a{
    color: var(--v-primary-lighten2);
    text-decoration: underline;
}
.v-application a:visited{
    color: var(--v-primary-lighten2);
}
