.glitch-transition{
  &-enter-active{
    animation: glitch .3s;
    div:nth-of-type(2n){
      animation: glitch__div--even .3s;
    }
    div:nth-of-type(2n + 1){
      animation: glitch__div--odd .3s;
    }
  }
  &-leave-active{
    animation: glitch .2s reverse;
    div:nth-of-type(2n){
      animation: glitch__div--even .2s reverse;
    }
    div:nth-of-type(2n + 1){
      animation: glitch__div--odd .2s reverse;
    }
  }
  &-enter, &-leave-to{
  }
}

@keyframes glitch {
  0% {
    filter: hue-rotate(0deg);
  }
  24% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(55deg);
  }
  50% {
    filter: hue-rotate(55deg);
  }
  51% {
    filter: hue-rotate(230deg);
  }
  74% {
    filter: hue-rotate(230deg);
  }
  75% {
    filter: hue-rotate(180deg);
  }
  99% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@keyframes glitch__div--even {
  0% {
    transform: translateX(30px);
  }
  24% {
    transform: translateX(30px);
  }
  25% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(30px);
  }
  51% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(-50px);
  }
}
@keyframes glitch__div--odd {
  0% {
    transform: translateY(30px);
  }
  24% {
    transform: translateY(30px);
  }
  25% {
    transform: translateX(30px);
  }
  50% {
    transform: translateX(30px);
  }
  51% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(-50px);
  }
}
